.search-box-container {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.search-input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-results-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  margin-top: 20px;
}

.search-results-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}




.search-result-button {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.location-pin-image {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

.location-name {
  font-size: 16px;
}